{% extends "layout.njk" %}
{% block content %}



<nav class="navbar">
    <a class="brand" href="/"><b>My Pocket Henrik</b></a>
    <ul class="nav">
        <li>
            <a href="/"><b>Home</b></a>
        </li>
        <li>
            <a href="/about"><b>About</b></a>
        </li>
        <li>
            <a href="/download"><b>Download</b></a>
        </li>
        <li>
            <a href="https://mphenrik-forum.glitch.me/"><b>Forum</b></a>
        </li>
    </ul>
</nav>

<div class="hero">
    <nav></nav>

    <header class="hero-grid">
        <img src="hero2.png" alt="bild">
        <div class="overlay"></div>
        <h1>Downloads coming soon</h1>


    </header>


</div>



<div class="container">


    <p>Some text with a download link for the latest version.</p>


</div>

<div class="container">


    <p>Some text with a download link for the some older version of the game.</p>


</div>




</main>



<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Kontakt</h4>
            <p>Email: <a href="mailto:info@exempel.se">info@exempel.se</a></p>
            <p>Adress: Rådhusesplanaden 2C, 90328 Umeå</p>
        </div>
        <div class="footer-section">
            <h4>Öppetider</h4>
            <div class="social-icons">


                <p>Måndag - Fredag 8:20 - 15:20</p>
                <p>Lördag - Söndag Stängt</p>



            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <p>&copy; Olle Axelsson 2025. Alla rättigheter förbehållna.</p>
    </div>
</footer>


{% endblock %}