{% extends "layout.njk" %}

{% block content %}




<main class="container">

    <form action="/post" method="POST">
   
        
        <label for="message">Title</label>
        <input type="text" name="title" id="title">
        
        <label for="message">Message</label>
        <input type="text" name="message" id="message">
        
        <button type="submit">Post</button>
      </form>

</main>



{% endblock %}